Library/
UserSettings/
Logs/
obj/
Temp/
Assets/CesiumForUnity/
Assets/StarterAssets/
.vs/
.vsconfig
*.sln
*.csproj

Packages/com.cesium.unity/bin/
Packages/com.cesium.unity/obj/
Packages/com.cesium.unity/build/
Packages/com.cesium.unity/build-*/
Packages/com.cesium.unity/build.bat
Packages/com.cesium.unity/build.bat.meta
Packages/com.cesium.unity/publishReinterop.bat
Packages/com.cesium.unity/publishReinterop.bat.meta
Packages/com.cesium.unity/Plugins/
Packages/com.cesium.unity/Plugins.meta
Packages/com.cesium.unity/CesiumForUnityNativeBindings/native/
Packages/com.cesium.unity/.vs/
Packages/com.cesium.unity/*.user
Packages/com.cesium.unity/Reinterop.dll
Packages/com.cesium.unity/Reinterop.deps.json
Packages/com.cesium.unity/Reinterop.deps.json.meta
Packages/com.cesium.unity/Reinterop.pdb
Packages/com.cesium.unity/Reinterop.pdb.meta
Packages/com.cesium.unity/CesiumForUnityNative-*.dll
Packages/com.cesium.unity/CesiumForUnityNative-*.dll.meta
Packages/com.cesium.unity/libCesiumForUnityNative-*.so
Packages/com.cesium.unity/libCesiumForUnityNative-*.so.meta
Packages/com.cesium.unity/libCesiumForUnityNative-*.dylib
Packages/com.cesium.unity/libCesiumForUnityNative-*.dylib.meta
Packages/com.cesium.unity/Editor/libCesiumForUnityNative-Editor.dylib
Packages/com.cesium.unity/Editor/libCesiumForUnityNative-Runtime.dylib